/* Nautilus Patch */
/* macOS Sequoia Finder Style */

.nautilus-window {
    border-radius: 12px;
    background-color: #ffffff;
}

.nautilus-path-bar {
    background: #ececec;
    padding: 6px;
    border-bottom: 1px solid #d2d2d2;
}
